Api/venv
Api/.env

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
app2/node_modules/

# Expo
app2/.expo/
app2/dist/
app2/web-build/
app2/expo-env.d.ts

# Native
app2/.kotlin/
app2/*.orig.*
app2/*.jks
app2/*.p8
app2/*.p12
app2/*.key
app2/*.mobileprovision

# Metro
app2/.metro-health-check*

# debug
app2/npm-debug.*
app2/yarn-debug.*
app2/yarn-error.*

# macOS
app2/.DS_Store
app2/*.pem

# local env files
app2/.env*.local

# typescript
app2/*.tsbuildinfo


## WEB
# Logs
App/logs
App/*.log
App/npm-debug.log*
App/yarn-debug.log*
App/yarn-error.log*
App/pnpm-debug.log*
App/lerna-debug.log*

App/node_modules
App/dist
App/dist-ssr
App/*.local

# Editor directories and files
App/.vscode/*
App/!.vscode/extensions.json
App/.idea
App/.DS_Store
App/*.suo
App/*.ntvs*
App/*.njsproj
App/*.sln
App/*.sw?
